/* ## Colors

### Primary

- Moderate cyan: hsl(176, 50%, 47%)
- Dark cyan: hsl(176, 72%, 28%)

### Neutral

- Black: hsl(0, 0%, 0%)
- Dark gray: hsl(0, 0%, 48%) */

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    background-color: hsl(0, 0%, 96%);
}

.nav-container {
    height: 400px;
    background: url(media/image-hero-desktop.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-container {
    z-index: 1111;
    margin-top: -2%;
}

.header-font{
    font-weight: 700;
}

.logo {
    margin-top: -3%;
}

/* colors */
.text-white {
    color: #ffffff;
}

.text-dark-grey {
    color: #2F2F2F;
}

.bg-white {
    background-color: #ffffff;
}

.bg-cyan-light {
    background-color: hsl(176, 50%, 47%);
}

.bg-grey {
    background-color: hsl(0, 0%, 95%);
}